* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

.welcome {
  display: flex;
  margin: 20px;
}

#nodata {
  margin-top: 25px;
  margin-left: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  border: none;
  background: none;
  box-shadow: 0 2px 10px -1px #3333;
}

#footer:hover {
  background-color: rgba(0, 0, 0, 0.071);
  cursor: pointer;
}

#footer svg {
  height: auto;
  width: 25px;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: rgb(0, 0, 0);
  --amplify-components-tabs-item-active-color: rgb(0, 0, 0);
  --amplify-components-button-primary-hover-background-color: rgba(
    0,
    0,
    0,
    0.5
  );
  --amplify-components-button-link-color: black;
  --amplify-components-button-link-hover-background-color: rgba(
    72,
    72,
    72,
    0.145
  );
  --amplify-components-button-link-hover-color: black;
  --amplify-components-authenticator-state-inactive-background-color: rgba(
    0,
    0,
    0,
    0.045
  );
  --amplify-components-tabs-item-active-border-color: black;
}
