* {
  margin: 0;
}

.welcome {
  display: flex;
  margin: 20px;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: rgb(0, 0, 0);
  --amplify-components-tabs-item-active-color: rgb(0, 0, 0);
  --amplify-components-button-primary-hover-background-color: rgba(
    0,
    0,
    0,
    0.5
  );
  --amplify-components-button-link-color: black;
  --amplify-components-button-link-hover-background-color: rgba(
    72,
    72,
    72,
    0.145
  );
  --amplify-components-button-link-hover-color: black;
  --amplify-components-authenticator-state-inactive-background-color: rgba(
    0,
    0,
    0,
    0.045
  );
  --amplify-components-tabs-item-active-border-color: black;
}
