#newpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formreset {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-bottom: 10px;
  width: 50%;
  justify-content: flex-start;
}

#formreset svg {
  width: 25px;
  height: auto;
}

#formreset svg:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.569);
}

#form {
  display: flex;
  padding: 20px;
  box-shadow: 0 2px 10px -1px #3333;
  flex-direction: column;
  width: 50%;
}

#form form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#uploadalert {
  width: 50%;
}

#form h3 {
  align-self: center;
  margin-bottom: 30px;
}

input[type='file']::file-selector-button {
  margin-top: 30px;
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 0.2em;
  background-color: white;
}

input[type='file']::file-selector-button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.569);
}

#picdate {
  width: 19vw;
  padding: 10px;
  margin-top: 5px;
}

#contentlabel {
  margin-top: 30px;
}

#submitbutton {
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 0.2em;
  background: none;
  align-self: center;
}

#submitbutton svg {
  height: auto;
  width: 30px;
}

#submitbutton svg:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.569);
}

#formimage {
  margin: 20px;
  width: 30vw;
  max-height: 30vh;
}

.locationsearchresults {
  background-color: rgba(0, 0, 0, 0.029);
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.locationsearchresults ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px !important;
}

.locationsearchresults li {
  margin-left: 5px;
  font-size: 15px;
  list-style-type: none;
  overflow-x: scroll;
}

.locationsearchresults svg {
  height: auto;
  width: 25px !important;
  margin-left: auto;
}

.locationsearchresults svg:hover {
  color: rgba(37, 151, 60, 0.771);
  cursor: pointer;
}

#selectedlocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

#selectedlocation svg {
  margin-left: 10px;
}

#selectedlocation svg:hover {
  color: rgba(185, 30, 30, 0.771);
  cursor: pointer;
}
