#friends {
  display: flex;
  flex-direction: row;
}

#friendsearch {
  margin-left: 20px;
  margin-top: 50px;
}

#friendsearch h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

#addfriends {
  margin: 20px;
  margin-top: 70px;
  width: 40%;
}

#friendlist {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 90px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px -1px #3333;
  padding: 20px;
}

#friendlist p {
  font-size: 15px;
}

#requestlist {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 0px;
  box-shadow: 0 2px 10px -1px #3333;
  padding: 20px;
}

.individualrequest {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.029);
  border-radius: 0.2em;
}

.textinfo {
  display: flex;
  flex-direction: column;
}

.textinfo p {
  font-size: 14px;
  margin: 5px;
}

.iconinfo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.iconinfo svg {
  height: auto;
  width: 30px;
  margin: 5px;
}

.acceptrequest:hover {
  cursor: pointer;
  color: rgba(37, 151, 60, 0.771);
}

.denyrequest:hover {
  cursor: pointer;
  color: rgba(185, 30, 30, 0.771);
}

.outgoing {
  margin-top: 20px;
  padding: 10px;
}

.outgoing h5 {
  margin-bottom: 10px;
}

.incoming {
  margin-top: 20px;
  padding: 10px;
}

.incoming h5 {
  margin-bottom: 10px;
}

.individualfriend {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.029);
  border-radius: 0.2em;
}

.individualfriend:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.444);
}

#friendalink {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;
  left: 0;
}
