#menu {
  position: fixed;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 20vw;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.063);
}

#menu svg {
  height: auto;
  width: 25px;
}

#menu svg:hover {
  color: rgba(0, 0, 0, 0.569);
  cursor: pointer;
}

#menusvg {
  display: flex;
  flex-direction: row;
  left: 0;
}

#menufriends {
  margin-left: 20px;
}

#menu h4 {
  margin-top: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media screen and (max-width: 500px) {
  #menu h4 {
    font-size: 3vw;
    margin-top: 1vh;
    text-align: center;
  }

  #menu p {
    font-size: 3vw;
  }
  #menu {
    max-width: 20%;
    overflow: auto;
    padding: 1vw;
  }
  #menusvg {
    margin-top: 8.5vh;
  }
  #menufriends {
    margin-left: 1.5vw;
  }
  #menu ul {
    width: 100%;
  }
}
