#menu {
  position: fixed;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 20vw;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.063);
}

#menu svg {
  height: auto;
  width: 25px;
}

#menu svg:hover {
  color: rgba(0, 0, 0, 0.569);
  cursor: pointer;
}

#menusvg {
  display: flex;
  flex-direction: row;
  left: 0;
}

#menufriends {
  margin-left: 20px;
}

#menu h4 {
  margin-top: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media screen and (max-width: 500px) {
  #menumobile {
    align-items: center;
    align-content: center;
    background-color: white;
    width: 100%;
    padding-top: 6.5vh;
    padding-bottom: 1vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    --amplify-line-heights-medium: 0;
    z-index: 2;
  }
  #menumobile svg {
    width: 30px;
    height: 30px !important;
    height: auto;
    color: black;
  }
  #menumobile button {
    border: none;
    background: none;
  }
  #menu svg:hover {
    color: rgba(0, 0, 0, 0.569);
    cursor: pointer;
  }
}
