.post {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: 0 2px 10px -1px #3333;
  justify-content: center;
  overflow: hidden;
  max-height: 40vh;
  border-radius: 0.2em;
  background-color: white;
  overflow: visible;
}

.post svg {
  position: absolute;
  height: auto;
  width: 25px;
  margin-left: 68%;
  margin-top: -20px;
}

.post svg:hover {
  color: rgba(185, 30, 30, 0.771);
  cursor: pointer;
}

#contentlocation h5 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.634);
  margin-bottom: 5px;
}

.createdat {
  margin-left: 5px;
  margin-bottom: 20px;
}

.createdat p {
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.372);
}

.timeinfo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.content {
  min-width: 30%;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.063);
  width: 40%;
  padding: 10px;
  display: inline-block;
  word-break: break-word;
  overflow-wrap: normal;
  overflow-y: scroll;
  font-size: 14px;
}

img {
  object-fit: contain;
  width: 60%;
  max-height: 100%;
  transition: all 0.2s ease-in-out;
}

.post img:hover {
  transform: scale(1.1);
}
