#postlist {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-top: 70px;
}

.postcolumn {
  display: flex;
  flex-direction: column;
}

#postlist h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 3px;
  margin-left: 5px;
}

#postlist p {
  font-size: 16px;
}
