.search {
  box-shadow: 0 2px 10px -1px #3333;
  margin: 20px;
  padding: 20px;
}

.search h4 {
  margin-bottom: 20px;
}

.searchresults {
  background-color: rgba(0, 0, 0, 0.029);
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
}

.searchresults ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px !important;
}

.searchresults li {
  list-style-type: none;
  margin-top: 10px;
}

.searchresults svg {
  height: auto;
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
}

.searchresults svg:hover {
  color: rgba(0, 0, 0, 0.569);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .search {
    margin: 2vw;
    padding: 2vw;
  }
  .search h4 {
    margin-bottom: 2vh;
    font-size: 3.5vw;
  }
  .searchresults li {
    margin-top: 2vh;
  }
  .searchresults h5 {
    font-size: 3vw;
  }
}
