.search {
  box-shadow: 0 2px 10px -1px #3333;
  margin: 20px;
  padding: 20px;
}

.search h4 {
  margin-bottom: 20px;
}

.searchresults {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
}

.searchresults ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px !important;
}

.searchresults li {
  list-style-type: none;
  margin-top: 10px;
}

.searchresults svg {
  height: auto;
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
}

.searchresults svg:hover {
  color: rgba(0, 0, 0, 0.569);
  cursor: pointer;
}
