#timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  width: 12vw;
  overflow: auto;
}

#timeline ul {
  width: 12vw;
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.063);
  padding-top: 90px;
  z-index: 1;
  padding-inline-start: 0px !important;
  text-align: center !important;
}

#timeline ::-webkit-scrollbar {
  width: 1px;
}

#timeline li {
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 15%;
  margin-top: 15%;
  justify-content: space-evenly;
  align-self: center;
}

#timeline h3 {
  overflow-y: visible;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#timeline li:hover {
  color: rgba(0, 0, 0, 0.512);
  cursor: pointer;
}
