#timeline {
  display: flex;
  flex-direction: row;
  right: 0;
  width: 12vw;
  overflow: auto;
}

#timeline ul {
  width: 12vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline-start: 0px !important;
}

#timeline ::-webkit-scrollbar {
  width: 1px;
}

#timeline li {
  font-size: 16px;
  list-style-type: none;
  margin-top: 20px;
  justify-content: space-evenly;
}

#timeline h3 {
  overflow-y: visible;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#timeline li:hover {
  color: rgba(0, 0, 0, 0.512);
  cursor: pointer;
}
