#newpost {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  padding: 20px;
  box-shadow: 0 2px 10px -1px #3333;
  flex-direction: column;
  width: 50%;
  margin: 25px;
  margin-top: 50px;
}

#form h3 {
  align-self: center;
  margin-bottom: 30px;
}

#form input {
  margin-top: 5px;
  margin-bottom: 50px;
}

input[type='file']::file-selector-button {
  margin-top: 50px;
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 0.2em;
  background-color: white;
  transition: 0.5s;
}

input[type='file']::file-selector-button:hover {
  background-color: black;
  color: white;
}

#picdate {
  width: 19vw;
  padding: 10px;
  margin-top: 5px;
}

#form button {
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 0.2em;
  background: none;
  background-color: black;
  color: white;
  align-self: center;
}

#form button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.569);
}

#form svg {
  height: auto;
  width: 20px;
}
