#friends {
  display: flex;
  flex-direction: row;
}

#friendsearch {
  margin-left: 20px;
  margin-top: 50px;
  width: 50%;
}

#friendsearch h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

#friendlist {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
}

#requestlist {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
}
