.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 10px -1px #3333;
}

.header h3 {
  font-size: 18px;
  margin-right: 10px;
}

#nanji {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

#nanji:hover {
  color: rgba(0, 0, 0, 0.569);
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
}

.header svg {
  height: auto;
  width: 30px;
  color: black;
  margin-left: 20px;
}

.header svg:hover {
  color: rgba(0, 0, 0, 0.569);
}

.header button {
  border: none;
  background: none;
}
