.post {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: 0 2px 10px -1px #3333;
  justify-content: center;
  overflow: hidden;
  max-height: 50vh;
  border-radius: 0.2em;
}

.post svg {
  position: absolute;
  height: auto;
  width: 25px;
  left: 40px;
  margin-right: auto;
  margin-top: -20px;
}

.post svg:hover {
  color: rgba(0, 0, 0, 0.569);
  cursor: pointer;
}

.createdat {
  margin-left: 5px;
  margin-bottom: 20px;
}

.createdat p {
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.372);
}

.timeinfo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.post p {
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.063);
  width: 40%;
  padding: 10px;
}

img {
  object-fit: contain;
  width: 60%;
  max-height: 100%;
}
