#timeline {
  margin-left: auto;
  width: 12%;
  background: rgba(0, 0, 0, 0.063);
  margin-bottom: 35px;
}

ul {
  position: fixed;
  overflow-y: scroll;
  margin-left: 2vw;
  margin-right: 1vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: flex-start;
  padding: 0px;
}

li {
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 15%;
  margin-top: 15%;
  justify-content: space-evenly;
}

#timeline h3 {
  overflow-y: visible;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

li:hover {
  color: rgba(0, 0, 0, 0.512);
  cursor: pointer;
}
